<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hourglass.schedule.mapper.DailyTrainMapper">
    <resultMap id="DailyTrainMap" type="com.hourglass.schedule.entity.DailyTrain">
        <id column="daily_train_id" property="dailyTrainId"/>
        <result column="start_date" property="startDate"/>
        <result column="train_code" property="trainCode"/>
        <result column="start_station" property="startStation"/>
        <result column="start_time" property="startTime"/>
        <result column="end_station" property="endStation"/>
        <result column="end_time" property="endTime"/>
        <result column="carriages" property="carriages"/>
    </resultMap>

    <insert id="insert" parameterType="com.hourglass.schedule.entity.DailyTrain">
        insert into daily_train
        <set>
            <if test="dailyTrainId != null">daily_train_id = #{dailyTrainId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="trainCode != null">train_code = #{trainCode},</if>
            <if test="startStation != null">start_station = #{startStation},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endStation != null">end_station = #{endStation},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="carriages != null">carriages = #{carriages}</if>
        </set>
    </insert>

    <select id="selectByStartDateAndTrainCode" resultMap="DailyTrainMap">
        select * from daily_train where start_date = #{startDate} and train_code = #{trainCode}
    </select>


</mapper>