<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hourglass.schedule.mapper.SeatMapper">
    <resultMap id="SeatMap" type="com.hourglass.schedule.entity.Seat">
        <id column="seat_id" property="seatId"/>
        <result column="daily_train_id" property="dailyTrainId"/>
        <result column="carriage_index" property="carriageIndex"/>
        <result column="row_count" property="rowCount"/>
        <result column="column_mark" property="columnMark"/>
        <result column="seat_state" property="seatState"/>
        <result column="seat_number" property="seatNumber"/>
        <result column="seat_type" property="seatType"/>
    </resultMap>

    <insert id="insert" parameterType="com.hourglass.schedule.entity.Seat">
        insert into seat
        <set>
            <if test="seatId != null">seat_id = #{seatId},</if>
            <if test="dailyTrainId != null">daily_train_id = #{dailyTrainId},</if>
            <if test="carriageIndex != null">carriage_index = #{carriageIndex},</if>
            <if test="rowCount != null">row_count = #{rowCount},</if>
            <if test="columnMark != null">column_mark = #{columnMark},</if>
            <if test="seatState != null">seat_state = #{seatState},</if>
            <if test="seatNumber != null">seat_number = #{seatNumber},</if>
            <if test="seatType != null">seat_type = #{seatType}</if>
        </set>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into seat (seat_id, daily_train_id, carriage_index, row_count, column_mark, seat_state, seat_number, seat_type) values
            <foreach collection="seatList" item="seat" separator=",">
                (#{seat.seatId}, #{seat.dailyTrainId}, #{seat.carriageIndex}, #{seat.rowCount}, #{seat.columnMark}, #{seat.seatState}, #{seat.seatNumber}, #{seat.seatType})
            </foreach>
    </insert>
    <update id="updateSeatState">
        update seat set seat_state = #{seatState} where seat_id = #{seatId}
    </update>
    <select id="selectByDailyTrainId" resultMap="SeatMap">
        select * from seat where daily_train_id = #{dailyTrainId} order by seat_number
    </select>
    <select id="selectByDailyTrainIdAndSeatNumber" resultMap="SeatMap">
        select * from seat where daily_train_id = #{dailyTrainId} and seat_number = #{seatNumber}
    </select>
    <select id="selectBySeatId" resultMap="SeatMap">
        select * from seat where seat_id = #{seatId}
    </select>

</mapper>